#root {
    max-width: 500px;
    margin: 0 auto;
    padding-top: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#root .inputer {
   width: 100%;
    margin-right: 25px;
    margin-bottom: 0px;
    height: 54px;
    padding: 0 11px;
}
#root .waves-effect {
    width: 130px;
}
.organs {
    display: flex;
    justify-content: space-between;
}